<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a WebSocket Chat Application">
    <title>WebSocket Chat Application</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.8em;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to our WebSocket Chat Application!</h1>
        <p>To start chatting, please <a th:href="@{/login}" title="Login page">login</a></p>
    </div>
    <footer>
        <p>&copy; 2024 Thon Becker</p>
    </footer>
</body>

</html>